<div *ngIf="isGameCreator()">
  <button *ngIf="gameCanStart()" type="button" (click)="startRound()">Start Game</button>
  <div *ngIf="!gameCanStart()">Waiting for player</div>
  <button type="button" (click)="allRandom()">Make All Random</button>
</div>
<table>
  <tr *ngFor="let tier of getTiers()">
    <td class="border">Tier {{tier}}</td>
    <td class="border">
      Side
      <mat-radio-group aria-label="Select a Side" [ngModel]="getSettingsSide(tier)" class="pharaoh-radio-group">
        <mat-radio-button [disabled]="!isGameCreator()" value="0" (change)="sideChange($event, tier)">A</mat-radio-button>
        <mat-radio-button [disabled]="!isGameCreator()" value="1" (change)="sideChange($event, tier)">B</mat-radio-button>
        <mat-radio-button [disabled]="!isGameCreator()" value="2" (change)="sideChange($event, tier)">Random Side</mat-radio-button>
      </mat-radio-group>
    </td>
    <td *ngFor="let column of getColumns()" class="border">
      <table>
        <tr>
          <td>
            <div>{{getSettingsRequirement(tier, column)}}</div>
            <mat-radio-group aria-label="Select a Tile" [ngModel]="getSettingsTile(tier, column)" class="pharaoh-radio-group">
              <mat-radio-button *ngFor="let tile of getTierTiles(tier, column)" [disabled]="!isGameCreator()" value="{{tile.tileId}}" (change)="tileChange($event, tier, column)">{{tile.name}}</mat-radio-button>
            </mat-radio-group>
          </td>
          <td>
            <img src="{{getTileImage(tier, column)}}" class="pharaoh-image" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
