.pharaoh-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

table {
  width: 100%;
  td.border {
    border: 1px solid black;
  }
}

.pharaoh-image {
  width: 187px;
  height: 122px;
  float: right;
}

.text-center {
  text-align: center;
}
