.action-card {
  background-color: lightblue;
}

.event-card {
  background-color: lightcoral;
}

.standard-card {
  background-color: lightgreen;
}

table {
  width: 100%;
}

.player-color-green {
  border: 1px solid lightgreen;
}

.player-color-red {
  border: 1px solid lightcoral;
}

.player-color-blue {
  border: 1px solid lightblue;
}

.player-color-yellow {
  border: 1px solid lightyellow;
}

.player-color-black {
  border: 1px solid black;
}

.text-center {
  text-align: center;
}

.text-highlight {
  background-color: lightcoral;
}

.player-highlight {
  background-color: yellow;
}

.project-highlight {
  background-color: lightcyan;
}

.missing-highlight {
  background-color: lightpink;
}

.map-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
