<div *ngIf="isShielded()">You cannot look at your card because you are shielded</div>
<div *ngIf="!isShielded()">You are now: {{getCurrentRole()}}</div>
<button type="button" (click)="acknowledge()">Continue</button>
