<mat-form-field appearance="fill">
  <mat-label>Gfx Type</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option *ngFor="let type of gfxTypes" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>FPS</mat-label>
  <mat-select [(ngModel)]="selectedFPS" (ngModelChange)="onChange()">
    <mat-option *ngFor="let fps of fpsValues" [value]="fps">
      {{fps}}
    </mat-option>
  </mat-select>
</mat-form-field>
<core-canvas class="text-center" [width]="1200" [height]="800" id="{{canvasId}}"></core-canvas>
