<div>Vampire players: {{getVampirePlayerNames()}}</div>
<div>Marked vampire: {{getMarkedVampirePlayerName()}}</div>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getNonVampirePlayers()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
