<table>
  <tr>
    <td>
      <terraforming-mars-setup *ngIf="getCurrentPhase() == 0" [gameData]="gameData"></terraforming-mars-setup>
      <terraforming-mars-board *ngIf="getCurrentPhase() != 0" [map]="getMap()"></terraforming-mars-board>
    </td>
    <td>
      <div class="scrollable">
        <terraforming-mars-starting-hand *ngIf="getCurrentPhase() == 1"></terraforming-mars-starting-hand>
        <terraforming-mars-generation *ngIf="getCurrentPhase() == 2 || getCurrentPhase() == 3"></terraforming-mars-generation>
        <terraforming-mars-final-score *ngIf="getCurrentPhase() == 4"></terraforming-mars-final-score>
      </div>
    </td>
  </tr>
</table>
