<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getSeerPlayers()" [revealed1]="revealed" [maxSelected1]="3"></onenight-table-view>
<button type="button" (click)="acknowledge()">Continue</button>
