<table mat-table [dataSource]="getValidTargets()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let target" [ngClass]="getPlayerColorClass(target)">{{getTargetName(target)}}</td>
  </ng-container>
  <ng-container matColumnDef="Current">
    <th mat-header-cell *matHeaderCellDef>Current Amount</th>
    <td mat-cell *matCellDef="let target" [ngClass]="getPlayerColorClass(target)">{{getCurrentAmount(target)}}</td>
  </ng-container>
  <ng-container matColumnDef="Effect">
    <th mat-header-cell *matHeaderCellDef>Effect</th>
    <td mat-cell *matCellDef="let target" [ngClass]="getPlayerColorClass(target)">{{getProjectEffect(target)}}</td>
  </ng-container>
  <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef>Select</th>
    <td mat-cell *matCellDef="let target" [ngClass]="getPlayerColorClass(target)"><button type="button" (click)="select(target)">Select</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button *ngIf="targetSupply" type="button" (click)="skip()">Skip</button>
