<div *ngIf="getCurrentPhase() == 2 && !dealt && !allPlayers && !playedProjects || showExtraPreludes()">
  <terraforming-mars-prelude [keep]="0" [dealt]="showExtraPreludes()" [action]="true" (preludeSelected)="preludePlayed($event)"></terraforming-mars-prelude>
</div>

<div class="text-center">Projects</div>
<div *ngIf="errorState != ''" class="text-highlight">{{errorState}}</div>
<table mat-table cdkDropList [dataSource]="getPlayerCards()" matSort (matSortChange)="onSortData($event)" (cdkDropListDropped)="onListDrop($event)" #table1 id="table1">
  <ng-container matColumnDef="Player">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getPlayerColorClass(project.id)">{{getOwner(project.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getCardClass(project.id)">{{project.name}}</td>
  </ng-container>
  <ng-container matColumnDef="Cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getPlayerColorClass(project.id)">{{project.cost}}</td>
  </ng-container>
  <ng-container matColumnDef="Production">
    <th mat-header-cell *matHeaderCellDef>Production</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getMissingProductionClass(project.id)">
      <div *ngFor="let prod of getProduction(project.id)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Resources">
    <th mat-header-cell *matHeaderCellDef>Resources</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getMissingResourceClass(project.id)">
      <div *ngFor="let prod of getResources(project.id)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getPlayerColorClass(project.id)">
      {{project.description}}
      <div *ngFor="let action of getActions(project.id); let i = index">{{i + 1}}) {{action.action}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Tiles">
    <th mat-header-cell *matHeaderCellDef>Tiles</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getTilePlacementClass(project.id)">{{getTiles(project.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="Tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getPlayerColorClass(project.id)">
      <span *ngFor="let tag of getTags(project.id)">
        <img *ngIf="getTagImage(tag) != ''" src="{{getTagImage(tag)}}">
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Prereqs">
    <th mat-header-cell *matHeaderCellDef>Prerequisites</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getMissingPrereqsClass(project.id)">{{getPrereqs(project.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="Score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getPlayerColorClass(project.id)">{{getScore(project.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef>{{getSelectColumnHeader()}}</th>
    <td mat-cell *matCellDef="let project" [ngClass]="getCostClass(project.id)">
      <button *ngIf="playerCanChoose(project.id)" type="button" (click)="selectProject(project.id)">{{getButtonLabel(project.id)}}</button>
      <button *ngIf="hasSecondAction(project.id)" type="button" (click)="selectProject(project.id, 1)">{{getButtonLabel(project.id, 1)}}</button>
      <div *ngIf="canUseSteel(project.id)">
        <mat-slider [max]="getMaxSteel()" [thumbLabel]="true" [(ngModel)]="steelValue"></mat-slider><span class="text-center">{{steelValue}} steel</span>
      </div>
      <div *ngIf="canUseTitanium(project.id)">
        <mat-slider [max]="getMaxTitanium()" [thumbLabel]="true" [(ngModel)]="titaniumValue"></mat-slider><span class="text-center">{{titaniumValue}} titanium</span>
      </div>
      <div *ngIf="canUsePsychrophiles(project.id)">
        <mat-slider [max]="getMaxPsychrophiles()" [thumbLabel]="true" [(ngModel)]="psychrophileValue"></mat-slider><span class="text-center">{{psychrophileValue}} psychrophiles</span>
      </div>
      <div *ngIf="canUseHeat(project.id)">
        <mat-slider [max]="getMaxHeat()" [thumbLabel]="true" [(ngModel)]="heatValue"></mat-slider><span class="text-center">{{heatValue}} heat</span>
      </div>
      <div *ngIf="canUseResource(project.id)">
        <mat-slider [max]="getMaxResource(project.id)" [thumbLabel]="true" [(ngModel)]="resourceValue"></mat-slider><span class="text-center">{{resourceValue}} {{getResourceName(project.id)}}</span>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>
  </table>
  <button *ngIf="showPurchaseButton()" type="button" (click)="purchaseProjects()">{{getProjectPurchaseCost()}}</button>
  <terraforming-mars-resource-target *ngIf="showProductionTargets()" [targetSupply]="false" [resource]="getPendingProduction()" [limitTargets]="limitTargets" [excludeId]="lastProjectId" (resourceSelected)="productionPicked($event)"></terraforming-mars-resource-target>
  <terraforming-mars-resource-target *ngIf="showResourceTagets()" [targetSupply]="true" [resource]="getPendingResources()" [limitTargets]="limitTargets" [excludeId]="lastProjectId" (resourceSelected)="supplyPicked($event)"></terraforming-mars-resource-target>
  <div *ngIf="showTilePlacement()">
    <terraforming-mars-tile-placement *ngIf="showTileTargets()" [tilePlacement]="getPendingTiles()" (tilePlaced)="tilePlaced($event)"></terraforming-mars-tile-placement>
  </div>
