<div>
  <div class="login" *ngIf="getPlayerName().length==0; else gameList">
    <span>
      Login as:
      <input type="text" #playerName (keydown.enter)="validateLogin(playerName.value)" placeholder="Enter your name" />
      <button type="button" (click)="validateLogin(playerName.value)">Login</button>
    </span>
  </div>
  <ng-template #gameList>
    <div *ngIf="inGame(); then activeGame else gameList"></div>
    <ng-template #activeGame>
      <app-game-host [gameData]="getGameData()"></app-game-host>
    </ng-template>
    <ng-template #gameList>
      <app-game-list></app-game-list>
    </ng-template>
    
    <app-chat></app-chat>
  </ng-template>
</div>
