<div class="text-highlight">It's time to vote</div>
<table mat-table [dataSource]="getAllPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player">{{player.Name}} <span *ngIf="isShielded(player.Id)"> (shielded)</span></td>
  </ng-container>
  <ng-container matColumnDef="Claim">
    <th mat-header-cell *matHeaderCellDef>Claims to be</th>
    <td mat-cell *matCellDef="let player">
      <span>{{getClaim(player.Id)}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="OtherClaim">
    <th mat-header-cell *matHeaderCellDef>Others claim to be</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <span>{{getOtherClaim(player.Id)}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Vote">
    <th mat-header-cell *matHeaderCellDef>Vote</th>
    <td mat-cell *matCellDef="let player">
      <button *ngIf="!hasVoted()" type="button" (click)="voteForPlayer(player.Id)">Vote for {{player.Name}}</button>
      <span *ngIf="hasVoted()">{{getYourVote(player.Id)}}</span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
