<div *ngIf="isGameCreator()">Selected roles: {{getRoleCount()}} of {{getNeededRoleCount()}} <button *ngIf="gameCanStart()" type="button" (click)="startRound()">Start Round</button></div>
<span>Discussion time (minutes): </span><input type="text" [(ngModel)]="gameState.discussionTime" (ngModelChange)="onTimeChanged()" [disabled]="!isGameCreator()" />
<table mat-table [dataSource]="getAllCards()">
  <ng-container matColumnDef="Use">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let card"><mat-checkbox [(ngModel)]="useCard()[card.cardOrder].use" (ngModelChange)="onCardSelectChanged()" [disabled]="!isGameCreator()"></mat-checkbox></td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let card">{{card.cardName}}</td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let card">{{card.cardDescription}}</td>
  </ng-container>
  <ng-container matColumnDef="CardCount">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let card">
      <input type="text" [(ngModel)]="useCard()[card.cardOrder].count" [disabled]="!useCard()[card.cardOrder].use || !isGameCreator()" (ngModelChange)="onCardSelectChanged()" />
    </td>
  </ng-container>
  <ng-container matColumnDef="MinCards">
    <th mat-header-cell *matHeaderCellDef>Min Cards</th>
    <td mat-cell *matCellDef="let card">{{card.minCount}}</td>
  </ng-container>
  <ng-container matColumnDef="MaxCards">
    <th mat-header-cell *matHeaderCellDef>Max Cards</th>
    <td mat-cell *matCellDef="let card">{{card.maxCount}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
