<div *ngIf="isShielded()">
  You cannot swap cards because you are shielded
  <button type="button" (click)="acknowledge()">Continue</button>
</div>
<onenight-table-view *ngIf="!isShielded()" [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getCards()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
