<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getPlayers()" [revealed1]="selectedRole" [revealed2]="selectedMark" [maxSelected1]="1" [maxSelected2]="1" (targetIdEmitter1)="selectRole($event)" (targetIdEmitter2)="selectMark($event)"></onenight-table-view>
<button type="button" (click)="acknowledge()">Continue</button>
