<button *ngIf="!isMarkRevealed()" type="button" (click)="acknowledge()">Skip looking at a mark</button>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<button *ngIf="isMarkRevealed()"type="button" (click)="acknowledge()">Continue</button>
