<div class="container">
  <h3>Chat</h3>
  <div>
    <input type="text" [value]="textMessage" size="200"
           (input)="textMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />
    <button type="button" (click)="sendMessage()">Send</button>
  </div>
  <div>
    <div *ngFor="let msg of messages">
      <div [ngClass]="msg.serverMessage == true ? 'server-message' : 'user-message'">
        {{msg.playerName}}<span *ngIf="msg.serverMessage == false">:</span> {{msg.message}}
      </div>
    </div>
  </div>
</div> 
