<div class="text-center">First Player: {{firstPlayer()}}</div>
<table mat-table [dataSource]="playerCorps">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let corp">{{corp.name}}</td>
  </ng-container>
  <ng-container matColumnDef="Production">
    <th mat-header-cell *matHeaderCellDef>Starting Production</th>
    <td mat-cell *matCellDef="let corp">
      <div *ngFor="let prod of getStartingProduction(corp.id)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Resources">
    <th mat-header-cell *matHeaderCellDef>Starting Resources</th>
    <td mat-cell *matCellDef="let corp">
      <div *ngFor="let prod of getStartingResources(corp.id)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Effect">
    <th mat-header-cell *matHeaderCellDef>Effect</th>
    <td mat-cell *matCellDef="let corp">{{corp.effectText}}</td>
  </ng-container>
  <ng-container matColumnDef="Special">
    <th mat-header-cell *matHeaderCellDef>First Turn</th>
    <td mat-cell *matCellDef="let corp">{{corp.specialText}}</td>
  </ng-container>
  <ng-container matColumnDef="Tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let corp">
      <span *ngFor="let tag of getCorpTags(corp.id)">
        <img *ngIf="getTagImage(tag) != ''" src="{{getTagImage(tag)}}">
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef>Discard</th>
    <td mat-cell *matCellDef="let corp">
      <button type="button" (click)="discardCorp(corp.id)">Discard</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<terraforming-mars-prelude [keep]="2" [dealt]="true" [action]="false" *ngIf="usingPreludes()"></terraforming-mars-prelude>
<terraforming-mars-projects [dealt]="true" [allPlayers]="false" [playedProjects]="false" [showPurchase]="canContinue()"></terraforming-mars-projects>
