.your-action {
  background-color: yellow;
  text-align: center;
  font-size: 150%;
}

.other-action {
  background-color: lightgray;
  text-align: center;
}

table {
  width: 85%;
}

.text-center {
  text-align: center;
  font-size: 150%;
}

.text-highlight {
  background-color: yellow;
}

.one-night-role-image {
  overflow: hidden;
  position: absolute;
}

.one-night-text-around-image {
  left: 170px;
}
