<div class="text-center">First Player: {{firstPlayer()}}</div>
<div *ngIf="getCurrentPhase() == 2">
  <div class="text-center">Prelude</div>
  <div [ngClass]="isCurrentPlayer() ? 'player-highlight text-center' : 'text-center'">{{currentPlayer()}}'s turn</div>
</div>
<div *ngIf="getCurrentPhase() == 3">
  <div class="text-center">Generation {{generation()}}</div>
  <div [ngClass]="isCurrentPlayer() ? 'player-highlight text-center' : 'text-center'">{{currentPlayer()}}'s turn<span *ngIf="isCurrentPlayer()"> (Actions: {{actionsRemaining()}})</span></div>
</div>
<div>
  <span *ngFor="let event of getRecentEvents()">: {{event}} :</span>
</div>
<terraforming-mars-player-mat [currentPlayer]="true"></terraforming-mars-player-mat>
<terraforming-mars-projects *ngIf="showCardPurchase()" [dealt]="true" [allPlayers]="false" [playedProjects]="false" [showPurchase]="true"></terraforming-mars-projects>
<mat-tab-group>
  <mat-tab label="Projects in Hand">
    <terraforming-mars-projects [dealt]="false" [allPlayers]="false" [playedProjects]="false" [showPurchase]="false"></terraforming-mars-projects>
  </mat-tab>
  <mat-tab label="Your Projects">
    <terraforming-mars-projects [dealt]="false" [allPlayers]="false" [playedProjects]="true" [showPurchase]="false"></terraforming-mars-projects>
  </mat-tab>
  <mat-tab label="Player Details">
    <terraforming-mars-corporations></terraforming-mars-corporations>
    <terraforming-mars-player-mat [currentPlayer]="false"></terraforming-mars-player-mat>
    <terraforming-mars-prelude [keep]="0" [dealt]="false" [action]="false"></terraforming-mars-prelude>
    <terraforming-mars-tags></terraforming-mars-tags>
  </mat-tab>
  <mat-tab label="Others Projects">
    <terraforming-mars-projects [dealt]="false" [allPlayers]="true" [playedProjects]="true" [showPurchase]="false"></terraforming-mars-projects>
  </mat-tab>
</mat-tab-group>
<button *ngIf="canSkip()" (click)="skip()">{{getSkipText()}}</button>
