<div *ngIf="isShielded()">You cannot look at another players card because you are shielded</div>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<button *ngIf="isCardRevealed()" type="button" (click)="acknowledge()">Continue</button>
