<div>Give any player the mark of the assassin</div>
<div *ngIf="isApprenticeAssassin()">Apprentice Assassin: {{getApprenticeAssassinName()}}</div>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
