<div *ngIf="isCurrentActionPlayer() || isDopplegangerCurrentRole(); else othersRole">
  <div class="your-action">{{getCurrentRoleAction()}} it is your action</div>
  <!-- based on current role, display different things -->
  <onenight-copycat *ngIf="getCurrentAction() == 0"></onenight-copycat>
  <onenight-doppleganger *ngIf="getCurrentAction() == 1"></onenight-doppleganger>
  <onenight-vampires *ngIf="getCurrentAction() == 2 || isDopplegangerCurrentAction(2)"></onenight-vampires>
  <onenight-count *ngIf="getCurrentAction() == 4 || isDopplegangerCurrentAction(4)"></onenight-count>
  <onenight-renfield *ngIf="getCurrentAction() == 5 || isDopplegangerCurrentAction(5)"></onenight-renfield>
  <onenight-diseased *ngIf="getCurrentAction() == 6 || isDopplegangerCurrentAction(6)"></onenight-diseased>
  <onenight-cupid *ngIf="getCurrentAction() == 7 || isDopplegangerCurrentAction(7)"></onenight-cupid>
  <onenight-instigator *ngIf="getCurrentAction() == 8 || isDopplegangerCurrentAction(8)"></onenight-instigator>
  <onenight-priest *ngIf="getCurrentAction() == 9 || isDopplegangerCurrentAction(9)"></onenight-priest>
  <onenight-assassin *ngIf="getCurrentAction() == 10 || isDopplegangerCurrentAction(10)"></onenight-assassin>
  <onenight-appr-assassin *ngIf="getCurrentAction() == 11 || isDopplegangerCurrentAction(11)"></onenight-appr-assassin>
  <div *ngIf="isFeared(); else notFeared">
    You have the mark of fear, and will not be able to take your night action
    <button type="button" (click)="acknowledgeFear()">Continue</button>
  </div>
</div>
<ng-template #othersRole>
  <div class="other-action">{{getCurrentRoleAction()}} is taking their action</div>
</ng-template>
<ng-template #notFeared>
  <onenight-sentinel *ngIf="getCurrentAction() == 12 || isDopplegangerCurrentAction(12)"></onenight-sentinel>
  <onenight-werewolf *ngIf="getCurrentAction() == 13 || isDopplegangerCurrentAction(13)"></onenight-werewolf>
  <onenight-alpha-wolf *ngIf="getCurrentAction() == 14 || isDopplegangerCurrentAction(14)"></onenight-alpha-wolf>
  <onenight-mystic-wolf *ngIf="getCurrentAction() == 15 || isDopplegangerCurrentAction(15)"></onenight-mystic-wolf>
  <onenight-minion *ngIf="getCurrentAction() == 17 || isDopplegangerCurrentAction(17)"></onenight-minion>
  <onenight-appr-tanner *ngIf="getCurrentAction() == 19 || isDopplegangerCurrentAction(19)"></onenight-appr-tanner>
  <onenight-mason *ngIf="getCurrentAction() == 20 || isDopplegangerCurrentAction(20)"></onenight-mason>
  <onenight-thing *ngIf="getCurrentAction() == 21 || isDopplegangerCurrentAction(21)"></onenight-thing>
  <onenight-seer *ngIf="getCurrentAction() == 22 || isDopplegangerCurrentAction(22)"></onenight-seer>
  <onenight-appr-seer *ngIf="getCurrentAction() == 23 || isDopplegangerCurrentAction(23)"></onenight-appr-seer>
  <onenight-paranormal-investigator *ngIf="getCurrentAction() == 24 || isDopplegangerCurrentAction(24)"></onenight-paranormal-investigator>
  <onenight-marksman *ngIf="getCurrentAction() == 25 || isDopplegangerCurrentAction(25)"></onenight-marksman>
  <onenight-robber *ngIf="getCurrentAction() == 26 || isDopplegangerCurrentAction(26)"></onenight-robber>
  <onenight-witch *ngIf="getCurrentAction() == 27 || isDopplegangerCurrentAction(27)"></onenight-witch>
  <onenight-pickpocket *ngIf="getCurrentAction() == 28 || isDopplegangerCurrentAction(28)"></onenight-pickpocket>
  <onenight-troublemaker *ngIf="getCurrentAction() == 29 || isDopplegangerCurrentAction(29)"></onenight-troublemaker>
  <onenight-village-idiot *ngIf="getCurrentAction() == 30 || isDopplegangerCurrentAction(30)"></onenight-village-idiot>
  <onenight-aura-seer *ngIf="getCurrentAction() == 31 || isDopplegangerCurrentAction(31)"></onenight-aura-seer>
  <onenight-gremlin *ngIf="getCurrentAction() == 32 || isDopplegangerCurrentAction(32)"></onenight-gremlin>
  <onenight-drunk *ngIf="getCurrentAction() == 33 || isDopplegangerCurrentAction(33)"></onenight-drunk>
  <onenight-insomniac *ngIf="getCurrentAction() == 34 || isDopplegangerCurrentAction(34)"></onenight-insomniac>
  <onenight-squire *ngIf="getCurrentAction() == 35 || isDopplegangerCurrentAction(35)"></onenight-squire>
  <onenight-beholder *ngIf="getCurrentAction() == 36 || isDopplegangerCurrentAction(36)"></onenight-beholder>
  <onenight-revealer *ngIf="getCurrentAction() == 37 || isDopplegangerCurrentAction(37)"></onenight-revealer>
  <onenight-curator *ngIf="getCurrentAction() == 38 || isDopplegangerCurrentAction(38)"></onenight-curator>
</ng-template>
