<div class="text-center">{{getPhaseName()}}</div>
<splendor-setup *ngIf="getCurrentPhase() == 0" [gameData]="gameData"></splendor-setup>
<splendor-player-turn *ngIf="getCurrentPhase() == 2"></splendor-player-turn>
<splendor-victory *ngIf="getCurrentPhase() == 3"></splendor-victory>
<core-canvas class="text-center" [width]="1200" [height]="800" id="{{splendorCanvasId()}}"></core-canvas>
