<div *ngIf="isGameCreator()">
  <button *ngIf="gameCanStart()" type="button" (click)="startGame()">Start Game</button>
  <div *ngIf="!allPlayersReady()">Waiting for player</div>
  <div *ngIf="!setDifficulty()">Select a difficulty level</div>
</div>
<table>
  <tr>
    <td>
      Ghost
      <mat-radio-group aria-label="Select a ghost" [(ngModel)]="getSettings().ghost" class="mysterium-radio-group">
        <mat-radio-button *ngFor="let player of getPlayers()" [value]="player.id" (change)="ghostChanged($event)" [disabled]="!isGameCreator()">{{player.name}}</mat-radio-button>
      </mat-radio-group>
    </td>
    <td>
      <div>
        Difficulty
        <mat-radio-group aria-label="Select a Difficulty" [(ngModel)]="getSettings().difficulty" class="mysterium-radio-group">
          <mat-radio-button value="0" (change)="difficultyChange($event)">Easy</mat-radio-button>
          <mat-radio-button value="1" (change)="difficultyChange($event)">Medium</mat-radio-button>
          <mat-radio-button value="2" (change)="difficultyChange($event)">Hard</mat-radio-button>
          <mat-radio-button value="3" (change)="difficultyChange($event)">Custom</mat-radio-button>
        </mat-radio-group>
      </div>
    </td>
    <td>
      Character/Location/Object cards
      <input type="text" [(ngModel)]="getSettings().cards" [disabled]="getSettings().difficulty != '3' || !isGameCreator()" (ngModelChange)="onCustomChanged()" />
    </td>
    <td>
      Ravens
      <input type="text" [(ngModel)]="getSettings().ravens" [disabled]="getSettings().difficulty != '3' || !isGameCreator()" (ngModelChange)="onCustomChanged()" />
      <mat-checkbox [(ngModel)]="getSettings().perTurn" [disabled]="getSettings().difficulty != '3' || !isGameCreator()" (ngModelChange)="onCustomChanged()">per turn</mat-checkbox>
    </td>
  </tr>
</table>
