<div class="text-center">Final Score</div>
<table mat-table [dataSource]="getPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerClass(player.playerId)">
      <div>{{getName(player.playerId)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Score">
    <th mat-header-cell *matHeaderCellDef>Score</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">
      <div>{{player.score}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Projects">
    <th mat-header-cell *matHeaderCellDef>Projects</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">
      <div>{{player.cardScore}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Board">
    <th mat-header-cell *matHeaderCellDef>Greeneries &amp; Cities</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">
      <div>{{player.boardScore}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Milestones">
    <th mat-header-cell *matHeaderCellDef>Milestones</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">
      <div>{{player.milestones}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Awards">
    <th mat-header-cell *matHeaderCellDef>Awards</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">
      <div>{{player.awards}}</div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="text-center">Your projects</div>
<terraforming-mars-projects [dealt]="false" [allPlayers]="false" [playedProjects]="true" [showPurchase]="false"></terraforming-mars-projects>
<div class="text-center">Others Projects</div>
<terraforming-mars-projects [dealt]="false" [allPlayers]="true" [playedProjects]="true" [showPurchase]="false"></terraforming-mars-projects>

