<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getWerewolfPlayers()" [revealed1]="revealed" [maxSelected1]="5"></onenight-table-view>
<button type="button" (click)="acknowledge()">Continue</button>
