table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.player-turn {
  background-color: yellow;
  text-align: center;
}

.other-turn {
  background-color: gray;
  text-align: center;
}

.hightlight-text {
  background-color: yellow;
}

.warning-text {
  background-color: red;
}

.highlight-border {
  border-color: yellow;
}

.diamond-text {
  background-color: ghostwhite;
}

.emerald-text {
  background-color: forestgreen;
}

.sapphire-text {
  background-color: cornflowerblue;
}

.ruby-text {
  background-color: orangered;
}

.topaz-text {
  background-color: saddlebrown;
}

.gold-text {
  background-color: gold;
}

td {
  border: 1px solid black;
}
