<table mat-table [dataSource]="getAllPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player">{{player.Name}}</td>
  </ng-container>
  <ng-container matColumnDef="Vote">
    <th mat-header-cell *matHeaderCellDef>Votes</th>
    <td mat-cell *matCellDef="let player">
      <span>{{getVoteCount(player.Id)}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let player">
      <span>{{player.Card.cardName}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Mark">
    <th mat-header-cell *matHeaderCellDef>Mark</th>
    <td mat-cell *matCellDef="let player">
      <span>{{getMark(player.Mark)}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Killed">
    <th mat-header-cell *matHeaderCellDef>Killed</th>
    <td mat-cell *matCellDef="let player">
      <span>{{wasKilled(player.Id)}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Victory">
    <th mat-header-cell *matHeaderCellDef>Wins</th>
    <td mat-cell *matCellDef="let player">
      <span>{{isWinner(player.Id)}}</span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button *ngIf="isGameCreator()" type="button" (click)="restart()">Start next round</button>
