<div class="text-center">Tags</div>
<table mat-table [dataSource]="getPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerClass(player.playerId)">
      <div>{{getPlayerName(player.playerId)}}</div>
      <div>{{getCorpName(player.cardId)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Earth">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/earth-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 0)}}</td>
  </ng-container>
  <ng-container matColumnDef="Builder">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/builder-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 1)}}</td>
  </ng-container>
  <ng-container matColumnDef="Science">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/science-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 2)}}</td>
  </ng-container>
  <ng-container matColumnDef="Jovian">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/jovian-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 3)}}</td>
  </ng-container>
  <ng-container matColumnDef="Space">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/space-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 4)}}</td>
  </ng-container>
  <ng-container matColumnDef="Energy">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/energy-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 5)}}</td>
  </ng-container>
  <ng-container matColumnDef="Plant">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/plant-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 6)}}</td>
  </ng-container>
  <ng-container matColumnDef="Microbe">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/microbe-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 7)}}</td>
  </ng-container>
  <ng-container matColumnDef="Animal">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/animal-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 8)}}</td>
  </ng-container>
  <ng-container matColumnDef="City">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/city-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 9)}}</td>
  </ng-container>
  <ng-container matColumnDef="Event">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/event-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 10)}}</td>
  </ng-container>
  <ng-container matColumnDef="Wild">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/wild-tag.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getTags(player.playerId, 11)}}</td>
  </ng-container>
  <ng-container matColumnDef="Projects">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/project-icon.jpg" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getProjects(player.playerId)}}</td>
  </ng-container>
  <ng-container matColumnDef="ProjectsPlayed">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/project-icon.jpg" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.playerId)">{{getProjectPlayed(player.playerId)}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
