<div class="text-center">First player: {{getFirstPlayer()}}</div>
<div [ngClass]="isCurrentPlayer() ? 'player-turn' : 'other-turn'">{{getCurrentPlayer()}}'s turn</div>
<div class="text-center" *ngIf="totalOwnedGems() <= 10">{{getLastEvent()}}</div>
<div *ngIf="totalOwnedGems() > 10" class="warning-text text-center">You have to many gems, and must return some</div>
