<button *ngIf="!isCardRevealed()" type="button" (click)="acknowledge()">Skip looking at a card</button>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getCenterCards()" [revealed1]="revealed" [maxSelected1]="2" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<onenight-table-view *ngIf="isCardRevealed()" [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="2" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>

