<div class="text-center">Preludes</div>
<table mat-table [dataSource]="getPlayerPreludes()">
  <ng-container matColumnDef="Player">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">{{getOwner(prelude.cardId)}}</td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">{{getName(prelude.cardId)}}</td>
  </ng-container>
  <ng-container matColumnDef="Production">
    <th mat-header-cell *matHeaderCellDef>Production</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">
      <div *ngFor="let prod of getProduction(prelude.cardId)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Resources">
    <th mat-header-cell *matHeaderCellDef>Resources</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">
      <div *ngFor="let prod of getResources(prelude.cardId)">
        {{prod.amount}} <img *ngIf="getResourceImage(prod.resource) != ''" src="{{getResourceImage(prod.resource)}}" /> {{getResourceExtra(prod)}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Tiles">
    <th mat-header-cell *matHeaderCellDef>Tiles</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">{{getTiles(prelude.cardId)}}</td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">{{getDescription(prelude.cardId)}}</td>
  </ng-container>
  <ng-container matColumnDef="Tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">
      <span *ngFor="let tag of getTags(prelude.cardId)">
        <img *ngIf="getTagImage(tag) != ''" src="{{getTagImage(tag)}}">
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef>{{getSelectLabel()}}</th>
    <td mat-cell *matCellDef="let prelude" [ngClass]="getPlayerColorClass(prelude.cardId)">
      <button *ngIf="showButton(prelude.cardId)" type="button" (click)="selectPrelude(prelude.cardId)">{{getSelectLabel()}}</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
