<button *ngIf="!isCardSelected() && !isMarkSelected()" type="button" (click)="acknowledge()">Continue</button>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getPlayers()" [revealed1]="selectedRole" [revealed2]="selectedMark" [maxSelected1]="maxRoles" [maxSelected2]="maxMarks" (targetIdEmitter1)="selectRole($event)" (targetIdEmitter2)="selectMark($event)"></onenight-table-view>
