<div>Werewolf players: {{getWerewolfPlayerNames()}}</div>
<div *ngIf="isDreamwolfInPlay()">Dream wolf: {{getDreamWolfName()}}</div>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getPlayerCards()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<button type="button" (click)="acknowledge()">Continue</button>
