<div class="text-center">{{getPhaseName()}}</div>
<onenight-setup *ngIf="getCurrentPhase() == 0" [gameData]="gameData"></onenight-setup>
<onenight-role *ngIf="getCurrentPhase() >= 1"></onenight-role>
<onenight-actions *ngIf="getCurrentPhase() == 2 || getCurrentPhase() == 4"></onenight-actions>
<onenight-discussion *ngIf="getCurrentPhase() == 5"></onenight-discussion>
<onenight-vote *ngIf="getCurrentPhase() == 6"></onenight-vote>
<onenight-winner *ngIf="getCurrentPhase() == 7"></onenight-winner>
