<div>Time left: {{getTimeLeft()}}</div>
<table mat-table [dataSource]="getAllPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player">{{player.name}}</td>
  </ng-container>
  <ng-container matColumnDef="Claim">
    <th mat-header-cell *matHeaderCellDef>Claims to be</th>
    <td mat-cell *matCellDef="let player">
      <div *ngIf="!isShamed(player.id, true)">
        <span *ngIf="!isPlayer(player.id)">{{getClaim(player.id)}}</span>
        <mat-select *ngIf="isPlayer(player.id)" [(value)]="claimed" (selectionChange)="onClaimChanged()">
          <mat-option value="-1">&nbsp;</mat-option>
          <mat-option *ngFor="let card of getCards()" value="{{card.cardOrder}}">{{card.cardName}}</mat-option>
        </mat-select>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="ClaimMark">
    <th mat-header-cell *matHeaderCellDef>Claims mark</th>
    <td mat-cell *matCellDef="let player">
      <div *ngIf="!isShamed(player.id, true)">
        <span *ngIf="!isPlayer(player.id)">{{getClaimMark(player.id)}}</span>
        <mat-select *ngIf="isPlayer(player.id)" [(value)]="claimedMark" (selectionChange)="onClaimMarkChanged()">
          <mat-option value="-1">&nbsp;</mat-option>
          <mat-option *ngFor="let mark of getMarks()" value="{{mark}}">{{getMark(mark)}}</mat-option>
        </mat-select>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="OtherClaim">
    <th mat-header-cell *matHeaderCellDef>Others claim to be</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div *ngIf="!isShamed(player.id, false)">
        {{getOtherClaim(player.id)}}
        <mat-select *ngIf="!isPlayer(player.id)" [(value)]="otherclaimed[i]" (selectionChange)="onOtherClaimChanged(player.id, i)">
          <mat-option value="-1">&nbsp;</mat-option>
          <mat-option *ngFor="let card of getCards()" value="{{card.cardOrder}}">{{card.cardName}}</mat-option>
        </mat-select>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="OtherClaimMark">
    <th mat-header-cell *matHeaderCellDef>Others claim mark</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div *ngIf="!isShamed(player.id, false)">
        {{getOtherClaimMark(player.id)}}
        <mat-select *ngIf="!isPlayer(player.id)" [(value)]="otherclaimedmark[i]" (selectionChange)="onOtherClaimMarkChanged(player.id, i)">
          <mat-option value="-1">&nbsp;</mat-option>
          <mat-option *ngFor="let mark of getMarks()" value="{{mark}}">{{getMark(mark)}}</mat-option>
        </mat-select>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
