<img class="one-night-role-image" src="{{getImageSource()}}" style="{{getImageStyle()}}" />
<div class="one-night-text-around-image">
  <div>Your role: {{getPlayerRole().cardName}}</div>
  <div>Your action: {{getPlayerRole().cardDescription}}</div>
  <div *ngIf="usingMarks()" [ngClass]="getPlayerMark() == 'Clarity' ? '' : 'text-highlight'">Your mark: {{getPlayerMark()}}</div>
  <div *ngIf="inLoveWith() != null" class="text-highlight'">You are in love with {{inLoveWith()}}</div>
  <div *ngIf="isSentinelInPlay()">{{shieldedPlayers()}} is shielded</div>
  <div *ngIf="bumpedPlayer() != null" class="text-highlight">{{bumpedPlayer()}} bumped you as the thing</div>
  <div *ngIf="isRevealed()" class="text-highlight">Revealer has revealed {{revealedName()}} as {{revealedRole()}}</div>
  <div *ngIf="hasArtifact()" class="text-highlight">Curator placed an artifact on {{curatedName()}}</div>
  <div *ngIf="getArtifactName() != '' && getCurrentPhase() != 7" class="text-highlight">Artifact: {{getArtifactName()}}</div>
  <div *ngIf="getCurrentPhase() == 7">Artifact: {{getArtifactName()}}</div>
</div>
