<button *ngIf="!isCardSelected()" type="button" (click)="acknowledge('')">Skip swapping cards</button>
<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="2" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
