<div *ngIf="isAssassin()">Assassin: {{getAssassinName()}}</div>
<onenight-table-view *ngIf="!isActiveAssassin()" [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getAllPlayers()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<button *ngIf="isActiveAssassin()" type="button" (click)="acknowledge()">Continue</button>
