<div>Vampire players: {{getVampirePlayerNames()}}</div>
<div>Select a non-vampire player to give the mark of the vampire</div>
<table mat-table [dataSource]="getNonVampirePlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player">{{player.name}}</td>
  </ng-container>
  <ng-container matColumnDef="Votes">
    <th mat-header-cell *matHeaderCellDef>Votes</th>
    <td mat-cell *matCellDef="let player">{{getVoteCount(player.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="YourVote">
    <th mat-header-cell *matHeaderCellDef>Your Vote</th>
    <td mat-cell *matCellDef="let player">{{getYourVote(player.id)}}</td>
  </ng-container>
  <ng-container matColumnDef="Choose">
    <th mat-header-cell *matHeaderCellDef>Vote for</th>
    <td mat-cell *matCellDef="let player"><button type="button" (click)="voteForPlayer(player.id)">Mark {{player.name}}</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
