<onenight-table-view [columnHeaders]="columnHeaders" [displayedColumns]="displayedColumns" [tableData]="getCenterCards()" [revealed1]="revealed" [maxSelected1]="1" (targetIdEmitter1)="selectTarget($event)"></onenight-table-view>
<button *ngIf="isCardSelected()" type="button" (click)="acknowledge()">Continue</button>
