<table mat-table [dataSource]="getPlayers()">
  <ng-container matColumnDef="Players">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div [ngClass]="i == 0 ? 'hightlight-text' : ''">{{getPlayerName(player.id)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Score">
    <th mat-header-cell *matHeaderCellDef>Score</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div [ngClass]="i == 0 ? 'hightlight-text' : ''">{{getPlayerScore(player.id)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Projects">
    <th mat-header-cell *matHeaderCellDef>Projects</th>
    <td mat-cell *matCellDef="let player; let i = index">
      <div [ngClass]="i == 0 ? 'hightlight-text' : ''">{{getPlayerProjects(player.id)}}</div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button *ngIf="isGameCreator()" type="button" (click)="restart()">Start next game</button>
