<div *ngIf="isGameCreator()">
  <button *ngIf="gameCanStart()" type="button" (click)="startGame()">Start Game</button>
  <div *ngIf="!gameCanStart()">Waiting for player</div>
</div>
<div>
  Expansions
  <div *ngFor="let expansion of expansions()">
    <mat-checkbox [checked]="getExpansionState(expansion)" (change)="setExpansionState(expansion, $event)">
      {{expansion}}
    </mat-checkbox>
  </div>
  Map
  <mat-radio-group aria-label="Select a Map" [(ngModel)]="map" class="map-radio-group">
    <mat-radio-button value="0">Base Map</mat-radio-button>
    <mat-radio-button value="1">Hellas</mat-radio-button>
    <mat-radio-button value="2">Elysium</mat-radio-button>
    <mat-radio-button value="3">Random</mat-radio-button>
  </mat-radio-group>
</div>
