<button type="button" (click)="moveLeft()">Move cards left</button>
<button type="button" (click)="acknowledge()">Don't move cards</button>
<button type="button" (click)="moveLeft()">Move cards right</button>
