<table mat-table [dataSource]="tableData">
  <ng-container *ngFor="let column of columnHeaders; let i = index" matColumnDef="{{displayedColumns[i]}}">
    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let player">
      <span *ngIf="displayedColumns[i] == 'Name'">{{player[displayedColumns[i]]}}</span>
      <span *ngIf="displayedColumns[i] != 'Name'">
        <button *ngIf="canSelect(player.Id, i) && !isShielded(player.Id)" type="button" (click)="selectPlayer(player.Id, i)">Select</button>
        <span *ngIf="displayedColumns[i] == 'Role'">
          <span *ngIf="isSelected(player.Id, i) && !isShielded(player.Id)">{{player.Card.cardName}}</span>
        </span>
        <span *ngIf="displayedColumns[i] == 'Mark'">
          <span *ngIf="isSelected(player.Id, i) && !isShielded(player.Id)">{{getMarkName(player.Mark)}}</span>
        </span>
        <span *ngIf="isShielded(player.Id)">Player {{player.Name}} is shielded</span>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
