<table>
  <tr>
    <td>
      <span>Available Games</span>
      <table mat-table [dataSource]="availableGames">
        <ng-container matColumnDef="Game">
          <th mat-header-cell *matHeaderCellDef>Game</th>
          <td mat-cell *matCellDef="let game">{{game.name}}</td>
        </ng-container>
        <ng-container matColumnDef="Players">
          <th mat-header-cell *matHeaderCellDef>Players</th>
          <td mat-cell *matCellDef="let game">{{game.minPlayers}}-{{game.maxPlayers}}</td>
        </ng-container>
        <ng-container matColumnDef="Create">
          <th mat-header-cell *matHeaderCellDef>Create</th>
          <td mat-cell *matCellDef="let game">
            <button *ngIf="ownsGame() == '' && joinedGame() == ''" type="button" (click)="createGame(game.name)">Create Game</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="availableGamesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: availableGamesDisplayedColumns;"></tr>
      </table>
    </td>
    <td>
      <span>Waiting for Players</span>
      <table mat-table [dataSource]="games">
        <ng-container matColumnDef="Game">
          <th mat-header-cell *matHeaderCellDef>Game</th>
          <td mat-cell *matCellDef="let game">{{game.gameName}}</td>
        </ng-container>
        <ng-container matColumnDef="Host">
          <th mat-header-cell *matHeaderCellDef>Host</th>
          <td mat-cell *matCellDef="let game">{{game.creatorName}}</td>
        </ng-container>
        <ng-container matColumnDef="Players">
          <th mat-header-cell *matHeaderCellDef>Players</th>
          <td mat-cell *matCellDef="let game">{{getPlayerList(game.gameId)}}</td>
        </ng-container>
        <ng-container matColumnDef="Join">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let game">
            <button *ngIf="ownsGame() == '' && joinedGame() == '' && canJoinGame(game.gameId)" type="button" (click)="joinGame(game.gameId)">Join Game</button>
            <button *ngIf="ownsGame() == game.gameId" type="button" (click)="cancelGame(game.gameId)">Cancel Game</button>
            <button *ngIf="ownsGame() == game.gameId && canStartGame(game.gameId)" type="button" (click)="startGame(game.gameId)">Start Game</button>
            <button *ngIf="joinedGame() == game.gameId && ownsGame() != game.gameId" type="button" (click)="leaveGame(game.gameId)">Leave Game</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="waitingForPlayersDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: waitingForPlayersDisplayedColumns;"></tr>
      </table>
    </td>
  </tr>
</table>
