<div class="text-center">Production and Resources</div>
<table mat-table [dataSource]="getPlayers()">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerClass(player.id)">
      <div>{{player.name}}</div>
      <div>{{getCorporationName(player.id)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Label">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>Production</div>
      <div>Supply</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Megacredits">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/megacredit-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getMegacredit(player.id, false)}}</div>
      <div>{{getMegacredit(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Steel">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/steel-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getSteel(player.id, false)}}</div>
      <div>{{getSteel(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Titanium">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/titanium-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getTitanium(player.id, false)}}</div>
      <div>{{getTitanium(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Plants">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/plant-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getPlant(player.id, false)}}</div>
      <div>{{getPlant(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Energy">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/energy-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getEnergy(player.id, false)}}</div>
      <div>{{getEnergy(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Heat">
    <th mat-header-cell *matHeaderCellDef><img src="./assets/terraforming-mars/heat-icon.png" /></th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <div>{{getHeat(player.id, false)}}</div>
      <div>{{getHeat(player.id, true)}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let player" [ngClass]="getPlayerColorClass(player.id)">
      <button *ngIf="canTakeCorpAction(player.id)" type="button" (click)="corpAction(player.id)">{{getCorpAction()}}</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<terraforming-mars-resource-target *ngIf="targetSelect" [targetSupply]="false" [resource]="getTargetProduction()" [limitTargets]="limitTargets" [excludeId]="0" (resourceSelected)="productionPicked($event)"></terraforming-mars-resource-target>
