<mysterium-setup *ngIf="getCurrentPhase() == 0" [gameData]="gameData"></mysterium-setup>
<mysterium-end-game *ngIf="getCurrentPhase() == 3"></mysterium-end-game>
<mysterium-ghost *ngIf="getCurrentPhase() >= 1 && isGhost()"></mysterium-ghost>
<mysterium-psychic *ngIf="getCurrentPhase() >= 1 && !isGhost()"></mysterium-psychic>

