<div class="text-center">First player: {{firstPlayerName()}}</div>
<div class="text-center">Current player: {{currentPlayerName()}}</div>
<div class="text-center">{{lastClaimedTile()}}</div>
<core-canvas class="text-center" [width]="1600" [height]="800" id="{{pharaohCanvasId()}}"></core-canvas>
